@font-face {
  font-family: "JejuGothic";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/jeju/JejuGothic.ttf")
      format("truetype");
  font-display: swap;
}

body {
  display: flex;
  justify-content: center;
  font-family: "JejuGothic";
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  width: 720px;
}

.header {
  display: flex;
  justify-content: right;
  font-size: 24px;
  width: 100%;
}

.header-text {
  display: flex;
  font-weight: 600;
  cursor: pointer;
}

.write-btn {
  display: flex;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
}
