body {
  display: flex;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  width: 720px;
}

.header {
  display: flex;
  justify-content: right;
  font-size: 24px;
  width: 100%;
}

.header-text {
  display: flex;
  font-weight: 600;
}

.write-btn {
  display: flex;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
}
