.main__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

.collection {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.main__list-img {
  display: flex;
  width: 10rem;
  height: 10rem;
}

.main__list--text {
  display: flex;
  flex-direction: column;
}

.main__list--text-title {
  display: flex;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.main__list--text-content {
  display: flex;
  padding: 1rem;
}
